@model TP_PWEB.Models.VehicleAndVerifications

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Vehicle</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div style="display:flex">
        <div style="flex:auto">
            <div class="form-group">
                @Html.LabelFor(model => model.vehicle.Brand, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vehicle.Brand, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vehicle.Brand, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vehicle.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vehicle.Model, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vehicle.Model, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vehicle.NumberKm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vehicle.NumberKm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vehicle.NumberKm, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vehicle.VehicleTank, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vehicle.VehicleTank, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vehicle.VehicleTank, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vehicle.Damages, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.vehicle.Damages)
                        @Html.ValidationMessageFor(model => model.vehicle.Damages, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vehicle.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vehicle.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vehicle.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                    @Html.LabelFor(model => model.idCategory, "idCategory", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.idCategory, null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idCategory, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
    
            <div id="verifications" style="flex:auto">
                <div>
                    <h4>Custom Verifications</h4>
                    <div class="form-group">
                        <ol>
                            @for (int i = 0; i < Model.ListOfVerifications.Count(); i++)
                            {
                                var disp = Model.ListOfVerifications.ElementAt(i).VerificationName;
                                <li>
                                    @Html.DisplayFor(modelItem => disp, new { id = " allText " })
                                    @Html.EditorFor(model => Model.ChoosenVerifications[i])
                                </li>
                            }
                        </ol>
                        @Html.ActionLink("Create a new verification", "Create_Outside", "Verifications", new { from = "vehicle" }, null)
                    </div>
                </div>
            </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="padding:3px">
            <input type="submit" value="Create Vehicle" class="btn btn-default" />
        </div>

        <div class="col-md-offset-2 col-md-10" style="padding:3px">
            <input type="submit" value="Create Vehicle Without Verifications" class="btn btn-default" />
        </div>

        <div class="col-md-offset-2 col-md-10" style="padding:10px">
            <button id="clicker" type="button" class="btn btn-default"> Custom Verifications </button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(function () {
            $('#clicker').click((function () {
                if ($("#verifications").css("visibility") === "hidden") {
                    $("#verifications").css("visibility", "visible");
                }
                else {
                    $("#verifications").css("visibility", "hidden");
                }
            }));
        });
    </script>
}
