@model IEnumerable<TP_PWEB.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberKm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleTank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Damages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Category.isVisible)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberKm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleTank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Damages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @{
                    if (User.IsInRole("Business"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IDVehicle }) |
                            @Html.ActionLink("Details", "Details", new { id = item.IDVehicle }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IDVehicle })
                        </td>

                        <td>
                            @Html.ActionLink("Verification List", "Index", "Vehicle_Verification", new { id = item.IDVehicle }, null)
                        </td>
                    }
                }
                

                <td>
                    @{
                        if (User.IsInRole("Client"))
                        {
                            @Html.ActionLink("Book this vehicle", "Index", "Vehicle", null, new { @style = " color: Black !important;", @class = "btn btn-default" })
                        }
                    }

                </td>
            </tr>
        }
    }
</table>
