@model IEnumerable<TP_PWEB.Models.Vehicle>

@{
    ViewBag.Title = "Vehicles";
}


@{
    if (User.Identity.IsAuthenticated && User.IsInRole("Business"))
    {
        <h2>Company Vehicles</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}


@{
    //Users logged as clients or non logged can search for dates.
    if (User.IsInRole("Client") || !User.Identity.IsAuthenticated)
    {
        <h2>Available Vehicles</h2>
        using (Html.BeginForm())
        {
            <p>
                Initial Date: @Html.TextBox("initDate", null, new { @class = "datepicker", @readonly = "readonly" })
                Ending Date: @Html.TextBox("endDate", null, new { @class = "datepicker", @readonly = "readonly" })
                <input type="submit" value="Search" />
                <input type="reset" value="Clear Dates" />
            </p>
        }
    }

}


@{
    if (ViewBag.invalidDates != null)
    {
        if (!ViewBag.invalidDates)
        {
            <p style="font-weight:bold">
                Available vehicles from @ViewBag.initDateSaved to @ViewBag.endDateSaved
            </p>
        }
        else
        {
            <p style="color:red;font-weight:bold">
                Invalid Dates!
            </p>
        }
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDVehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.licensePlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberKm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleTank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Damages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Category.isVisible)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDVehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.licensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleTank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
    @{
        if (User.IsInRole("Business"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDVehicle }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDVehicle }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDVehicle })
            </td>

            <td>
                @Html.ActionLink("Verification List", "VerificationList", new { id = item.IDVehicle }, null)
            </td>
        }
    }


    <td>
        @{
            if (User.IsInRole("Client"))
            {
                @Html.ActionLink("Book this vehicle", "Create", "Bookings", new { id = item.IDVehicle }, new { @style = " color: Black !important;", @class = "btn btn-default" })
            }
        }

    </td>
</tr>
        }
    }
</table>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                minDate: new Date(),
            });
        });
    </script>
}
