@model IEnumerable<TP_PWEB.Models.Verification>

@{
    ViewBag.Title = "Verifications";
}

<h2>Verifications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Verification")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VerificationName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDVerifications }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDVerifications }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDVerifications })
        </td>
    </tr>
}

</table>
