@model IEnumerable<TP_PWEB.Models.Categories_Verification>

@{
    ViewBag.Title = "Details";
}

<h2>Verifications - @ViewBag.ThisCategoryName</h2>

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Verification.VerificationName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Verification.VerificationName)
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Edit verifications","Edit", new { id = ViewBag.ThisCategoryId })

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
