@model TP_PWEB.Models.AllCompanyDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl>
        <dt>
            Business Admins:
        </dt>
        @foreach (var item in Model.allAdmBusinesses)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.idUser.UserName)
            </dd>
        }

        <dt>
            Employees:
        </dt>
        @foreach (var item in Model.allEmployes)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.idUser.UserName)
            </dd>
        }
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Pending Bookings:
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.num_pendingBookings)
        </dd>

        <dt>
            Approved Bookings:
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.num_approvedBookings)
        </dd>

        <dt>
            Checked-In Bookings:
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.num_checkedInBookings)
        </dd>

        <dt>
            Checked-Out Bookings:
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.num_checkedOutBookings)
        </dd>
        <hr />
        <dt>
            Number of vehicles:
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.num_vehicles)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
