@model TP_PWEB.Models.GetVerifications

@{
    ViewBag.Title = "Booking Verifications";
}

<h2>Booking Verifications</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @if (Model.vehVer != null)
    {
        <ol>
            @for (int i = 0; i < Model.vehVer.Count(); i++)
            {
                var disp = Model.vehVer.ElementAt(i).Verification.VerificationName;
                <li>
                    @Html.DisplayFor(modelItem => disp, new { id = " allText " })
                    @Html.EditorFor(model => Model.ChoosenVerifications[i])
                </li>
            }
        </ol>
    }
    else
    {
        <ol>
            @for (int i = 0; i < Model.catVer.Count(); i++)
            {
                var disp = Model.catVer.ElementAt(i).Verification.VerificationName;
                <li>
                    @Html.DisplayFor(modelItem => disp, new { id = " allText " })
                    @Html.EditorFor(model => Model.ChoosenVerifications[i])
                </li>
            }
        </ol>
    }
    @{
        if (!ViewBag.allChecked)
        {
            <p style="color:red;font-weight:bold">
                Some verifications are not checked!
            </p>
        }
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Finish Check-Out" class="btn btn-default" />
        </div>
    </div>
</div>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
