@model TP_PWEB.Models.CheckedOut

@{
    ViewBag.Title = "CreateCheckedOut";
}

<h2>Checked_Out</h2>


@using (Html.BeginForm("CreateCheckedOut", "Bookings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FinalKm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinalKm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FinalKm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinalTankStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinalTankStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FinalTankStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Damages, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Damages, new { htmlAttributes = new { @id = "teste" } })
                    @Html.ValidationMessageFor(model => model.Damages, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group" id="filechooser">
            <input type="file" name="files" multiple />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>


    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexCheckedOut")
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(function () {
            if ($('#teste').prop('checked')) {
                $("#filechooser").css("visibility", "visible");
            }
            else {
                $("#filechooser").css("visibility", "hidden");
            }
        });
        $(function () {
            $('#teste').click((function () {
                if ($('#teste').prop('checked')) {
                    $("#filechooser").css("visibility", "visible");
                }
                else {
                    $("#filechooser").css("visibility", "hidden");
                }
            }));
        });
    </script>
}
