@model TP_PWEB.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Booking Details</h2>

<div>

    <hr />

    <dl class="dl-horizontal">
        <dt>Booking Id</dt>
        <dd>@Html.DisplayFor(model => model.idBooking)</dd>
        <dt>Check_In Date</dt>
        <dd>@Html.DisplayFor(model => model.bookingInit)</dd>
        <dt>Check_Out</dt>
        <dd>@Html.DisplayFor(model => model.bookingEnd)</dd>
        <dt>State</dt>
        <dd>@Html.DisplayFor(model => model.state)</dd>
    </dl>
    <hr />

    <h4>Vehicle</h4>
    <dl class="dl-horizontal">
        <dt>Brand</dt>
        <dd>@Html.DisplayFor(model => model.vehicle.Brand)</dd>
        <dt>Model</dt>
        <dd>@Html.DisplayFor(model => model.vehicle.Model)</dd>
        <dt>Price</dt>
        <dd>@Html.DisplayFor(model => model.vehicle.Price) €</dd>
        <dt>Companie</dt>
        <dd>@Html.DisplayFor(model => model.vehicle.Company.Name)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idBooking }) |
    @Html.ActionLink("Back to List", "Index")
</p>
