@model TP_PWEB.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Booking Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.idBooking)</dt>
        <dd>@Html.DisplayFor(model => model.idBooking)</dd>
        <dt>@Html.DisplayNameFor(model => model.bookingInit)</dt>
        <dd>@Html.DisplayFor(model => model.bookingInit)</dd>
        <dt>@Html.DisplayNameFor(model => model.bookingEnd)</dt>
        <dd>@Html.DisplayFor(model => model.bookingEnd)</dd>
        <dt>@Html.DisplayNameFor(model => model.state)</dt>
        <dd>@Html.DisplayFor(model => model.state)</dd>
    </dl>

    <hr />
    <h4>Vehicle</h4>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.vehicle.Brand)</dt>
        <dd>@Html.DisplayFor(model => model.vehicle.Brand)</dd>
        <dt>@Html.DisplayNameFor(model => model.vehicle.Model)</dt>
        <dd>@Html.DisplayFor(model => model.vehicle.Model)</dd>
        <dt>@Html.DisplayNameFor(model => model.vehicle.licensePlate)</dt>
        <dd>@Html.DisplayFor(model => model.vehicle.licensePlate)</dd>
        <dt>@Html.DisplayNameFor(model => model.vehicle.Price)</dt>
        <dd>@Html.DisplayFor(model => model.vehicle.Price) €</dd>
        <dt>@Html.DisplayNameFor(model => model.vehicle.Company.Name)</dt>
        <dd>@Html.DisplayFor(model => model.vehicle.Company.Name)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.ActionLink("Approve", "ApproveBooking", "Bookings", new { id = Model.idBooking }, new { @style = " color: Black !important;", @class = "btn btn-default" })
        </dt>
        <dd>
            @Html.ActionLink("Refuse", "RemoveBooking", "Bookings", new { id = Model.idBooking }, new { @style = " color: Black !important;", @class = "btn btn-default" })
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")   
</p>
