@model IEnumerable<TP_PWEB.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vehicle.IDVehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookingInit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookingEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vehicle.IDVehicle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookingInit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookingEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idBooking }) |
            @Html.ActionLink("Details", "Details", new { id=item.idBooking }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idBooking })
        </td>
    </tr>
}

</table>
