@model IEnumerable<TP_PWEB.Models.Booking>

@{
    ViewBag.Title = "Checked In";
}

<h2>Booking List - Check-In</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vehicle.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vehicle.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookingInit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookingEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehicle.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehicle.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookingInit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookingEnd)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.state)
            </th>
            <td>
                @Html.ActionLink("More", "Details", new { id = item.idBooking })
            </td>
            <td>
                @Html.ActionLink("Check-In", "CheckedIn", "Bookings", new { id = item.idBooking }, new { @style = " color: Black !important;", @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>
